.containerCarousel {
    height: 100vh;
}

#atributos {
    width: 80%;
    margin-top: 6%;
    margin-left: 35px;
}

.centro {
    width: 83%;
    height: 90vh;
    margin: 0 8.5%;
    background-color: rgba(0, 0, 0, 0.835);
    border: 1px solid rgb(145, 0, 0);
    border-radius: 10px;
    margin-top: 2%;
}

.zonaClick {
    width: 8%;
}

.dropSelects {
    background-color: rgba(0, 0, 0, 0.719);
    border: 1px solid rgba(145, 0, 0, 0.678);
    border-radius: 2px;
    color: white;
}

.dropSelects:hover {
     background-color: rgba(20, 20, 20, 0.897);
     border: 1px solid rgba(145, 0, 0, 0.678);
     color: white;
}

.dropSelectsMenu {
    background-color: rgba(0, 0, 0, 0.719);
    box-shadow: 13px 0px 53px 0px rgba(255,0,0,1);
    color: white;
}
