* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url('../Imagens/backgroundOP.jpg');
    background-size: cover;
    background-position: center center;
    font-family: Lacquer, Arial, Helvetica, sans-serif;
    color: white;
}
